<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="qrbweb" ng-controller="AuthorController as authorCtrl">
<h2>Criar novo autor</h2>
<form>
    <label for="authorName">Nome: </label>
    <input id="authorName" type="text" ng-model="authorCtrl.author.name"/>
    <label for="authorNotes">Anotação: </label>
    <input id="authorNotes" type="text" ng-model="authorCtrl.author.notes"/>
    <br/>
    <button type="submit" ng-click="authorCtrl.create()">Salvar</button>
</form>
</body>
<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/app/index.module.js"></script>
<script type="text/javascript" src="/app/components/author/author.controller.js"></script>
<script type="text/javascript" src="/app/components/author/author.factory.js"></script>
</html>