<md-card>
    <md-card-content>
        <md-select placeholder="Selecione o usuário" ng-model="vm.reserva.contaUsuario"
                   md-on-open="vm.loadContaUsuarios()" style="min-width: 200px;">
            <md-option ng-value="contaUsuario" ng-repeat="contaUsuario in vm.getContaUsuarios()">
                {{contaUsuario.username}}
            </md-option>
        </md-select>

        <md-select placeholder="Selecione o livro" ng-model="vm.reserva.livro" md-on-open="vm.loadLivros()"
                   style="min-width: 200px;">
            <md-option ng-value="livro" ng-repeat="livro in vm.getLivros()">{{livro.titulo}}</md-option>
        </md-select>
        <div layout layout-sm="column">
            <md-datepicker ng-model="vm.reserva.dataInicio"></md-datepicker>
        </div>
        <div layout layout-sm="column">
            <md-datepicker ng-model="vm.reserva.dataFim"></md-datepicker>
        </div>
        <div layout layout-sm="column">
            <label>Status</label>
            <md-radio-group ng-model="vm.reserva.ativa">
                <md-radio-button value="true">Ativa</md-radio-button>
                <md-radio-button value="false">Expirada</md-radio-button>
            </md-radio-group>
        </div>
    </md-card-content>
    <md-card-footer>
        <md-button>Salvar</md-button>
    </md-card-footer>
</md-card>