<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-app="qrbweb" ng-controller="AuthorController as authorCtrl">
<form>
    <ul>
        <li ng-repeat="author in authorCtrl.getAuthors()">
            {{author.name}}
            <button type="submit" ng-click="authorCtrl.remove(author.id)">Excluir</button>
        </li>
    </ul>
</form>
</body>
<script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/app/index.module.js"></script>
<script type="text/javascript" src="/app/components/author/list/author.controller.js"></script>
<script type="text/javascript" src="/app/components/author/list/author.factory.js"></script>
</html>