<!DOCTYPE html>
<html lang="en" ng-app="qrbweb">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" type="text/css"
          href="/bower_components/angular-material-data-table/dist/md-data-table.min.css">
    <link href="/bower_components/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/app/vendor/md-icon/custom.style.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/app/vendor/md-toast/custom.style.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/app/vendor/md-grid-list/custom.style.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
<div layout="column" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings">
                <md-icon md-font-icon="mdi mdi-checkbox-blank-circle md-18"></md-icon>
            </md-button>
            <h2><span>Qr-BiblioKode</span></h2>
            <span flex=""></span>
            <md-button href="/logout">Sair</md-button>

        </div>
    </md-toolbar>
    <md-content>
        <md-menu-bar>
            <md-menu>
                <button ng-click="$mdOpenMenu()">Usuário</button>
                <md-menu-content>
                    <md-menu-item type="checkbox" ui-sref="contaUsuarioList">Contas</md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu>
                <button ng-click="$mdOpenMenu()">Biblioteca</button>
                <md-menu-content>
                    <md-menu-item type="checkbox" ui-sref="autorList">Autor</md-menu-item>
                    <md-menu-item type="checkbox" ui-sref="categoriaList">Categoria</md-menu-item>
                    <md-menu-item type="checkbox" ui-sref="feriadoList">Feriado</md-menu-item>
                    <md-menu-item type="checkbox" ui-sref="idiomaList">Idioma</md-menu-item>
                    <md-menu-item type="checkbox" ui-sref="livroList">Livro</md-menu-item>
                    <md-menu-item type="checkbox" ui-sref="qrCodeList">Qr-Code</md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-menu>
                <button ng-click="$mdOpenMenu()">Serviços</button>
                <md-menu-content>
                    <md-menu-item type="checkbox" ui-sref="comentarioList">Comentário</md-menu-item>
                    <md-menu-item type="checkbox" ui-sref="emprestimoList">Empréstimo</md-menu-item>
                    <md-menu-item type="checkbox" ui-sref="reservaList">Reserva</md-menu-item>
                    <md-menu-item type="checkbox" ui-sref="estoqueList">Estoque</md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-bar>
        <div class="page-container">
            <div class="page">
                <div ui-view></div>
            </div>
        </div>
    </md-content>
</div>
</body>
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/bower_components/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="/bower_components/qrcode-generator/js/qrcode.js"></script>
<script type="text/javascript" src="/bower_components/qrcode-generator/js/qrcode_UTF8.js"></script>
<script type="text/javascript" src="/bower_components/angular-qrcode/angular-qrcode.js"></script>
<script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>

<script type="text/javascript" src="/app/index.module.js"></script>
<script type="text/javascript" src="/app/components/autor/autor.factory.js"></script>
<script type="text/javascript" src="/app/components/autor/autor.tabs.controller.js"></script>
<script type="text/javascript" src="/app/components/autor/list/autor.list.controller.js"></script>
<script type="text/javascript" src="/app/components/autor/create/autor.create.controller.js"></script>
<script type="text/javascript" src="/app/components/autor/edit/autor.edit.controller.js"></script>
<script type="text/javascript" src="/app/components/autor/autor.route.js"></script>

<script type="text/javascript" src="/app/components/categoria/categoria.factory.js"></script>
<script type="text/javascript" src="/app/components/categoria/categoria.tabs.controller.js"></script>
<script type="text/javascript" src="/app/components/categoria/list/categoria.list.controller.js"></script>
<script type="text/javascript" src="/app/components/categoria/create/categoria.create.controller.js"></script>
<script type="text/javascript" src="/app/components/categoria/edit/categoria.edit.controller.js"></script>
<script type="text/javascript" src="/app/components/categoria/categoria.route.js"></script>

<script type="text/javascript" src="/app/components/idioma/idioma.factory.js"></script>
<script type="text/javascript" src="/app/components/idioma/idioma.tabs.controller.js"></script>
<script type="text/javascript" src="/app/components/idioma/list/idioma.list.controller.js"></script>
<script type="text/javascript" src="/app/components/idioma/create/idioma.create.controller.js"></script>
<script type="text/javascript" src="/app/components/idioma/edit/idioma.edit.controller.js"></script>
<script type="text/javascript" src="/app/components/idioma/idioma.route.js"></script>

<script type="text/javascript" src="/app/components/livro/livro.factory.js"></script>
<script type="text/javascript" src="/app/components/livro/livro.tabs.controller.js"></script>
<script type="text/javascript" src="/app/components/livro/list/livro.list.controller.js"></script>
<script type="text/javascript" src="/app/components/livro/create/livro.create.controller.js"></script>
<script type="text/javascript" src="/app/components/livro/edit/livro.edit.controller.js"></script>
<script type="text/javascript" src="/app/components/livro/livro.route.js"></script>

<script type="text/javascript" src="/app/components/comentario/comentario.factory.js"></script>
<script type="text/javascript" src="/app/components/comentario/comentario.tabs.controller.js"></script>
<script type="text/javascript" src="/app/components/comentario/list/comentario.list.controller.js"></script>
<script type="text/javascript" src="/app/components/comentario/create/comentario.create.controller.js"></script>
<script type="text/javascript" src="/app/components/comentario/edit/comentario.edit.controller.js"></script>
<script type="text/javascript" src="/app/components/comentario/comentario.route.js"></script>

<script type="text/javascript" src="/app/components/funcionario/funcionario.factory.js"></script>
<script type="text/javascript" src="/app/components/funcionario/funcionario.tabs.controller.js"></script>
<script type="text/javascript" src="/app/components/funcionario/list/funcionario.list.controller.js"></script>
<script type="text/javascript" src="/app/components/funcionario/create/funcionario.create.controller.js"></script>
<script type="text/javascript" src="/app/components/funcionario/edit/funcionario.edit.controller.js"></script>
<script type="text/javascript" src="/app/components/funcionario/funcionario.route.js"></script>

<script type="text/javascript" src="/app/components/feriado/feriado.factory.js"></script>
<script type="text/javascript" src="/app/components/feriado/feriado.tabs.controller.js"></script>
<script type="text/javascript" src="/app/components/feriado/list/feriado.list.controller.js"></script>
<script type="text/javascript" src="/app/components/feriado/create/feriado.create.controller.js"></script>
<script type="text/javascript" src="/app/components/feriado/edit/feriado.edit.controller.js"></script>
<script type="text/javascript" src="/app/components/feriado/feriado.route.js"></script>

<script type="text/javascript" src="/app/components/estoque/estoque.factory.js"></script>
<script type="text/javascript" src="/app/components/estoque/estoque.tabs.controller.js"></script>
<script type="text/javascript" src="/app/components/estoque/list/estoque.list.controller.js"></script>
<script type="text/javascript" src="/app/components/estoque/create/estoque.create.controller.js"></script>
<script type="text/javascript" src="/app/components/estoque/edit/estoque.edit.controller.js"></script>
<script type="text/javascript" src="/app/components/estoque/estoque.route.js"></script>

<script type="text/javascript" src="/app/components/estudante/estudante.factory.js"></script>
<script type="text/javascript" src="/app/components/estudante/estudante.tabs.controller.js"></script>
<script type="text/javascript" src="/app/components/estudante/list/estudante.list.controller.js"></script>
<script type="text/javascript" src="/app/components/estudante/create/estudante.create.controller.js"></script>
<script type="text/javascript" src="/app/components/estudante/edit/estudante.edit.controller.js"></script>
<script type="text/javascript" src="/app/components/estudante/estudante.route.js"></script>

<script type="text/javascript" src="/app/components/emprestimo/emprestimo.factory.js"></script>
<script type="text/javascript" src="/app/components/emprestimo/emprestimo.tabs.controller.js"></script>
<script type="text/javascript" src="/app/components/emprestimo/list/emprestimo.list.controller.js"></script>
<script type="text/javascript" src="/app/components/emprestimo/emprestar/emprestimo.emprestar.controller.js"></script>
<script type="text/javascript" src="/app/components/emprestimo/emprestimo.route.js"></script>

<script type="text/javascript" src="/app/components/contaUsuario/contaUsuario.factory.js"></script>
<script type="text/javascript" src="/app/components/contaUsuario/contaUsuario.tabs.controller.js"></script>
<script type="text/javascript" src="/app/components/contaUsuario/list/contaUsuario.list.controller.js"></script>
<script type="text/javascript" src="/app/components/contaUsuario/create/contaUsuario.create.controller.js"></script>
<script type="text/javascript" src="/app/components/contaUsuario/edit/contaUsuario.edit.controller.js"></script>
<script type="text/javascript" src="/app/components/contaUsuario/contaUsuario.route.js"></script>

<script type="text/javascript" src="/app/components/reserva/reserva.factory.js"></script>
<script type="text/javascript" src="/app/components/reserva/reserva.tabs.controller.js"></script>
<script type="text/javascript" src="/app/components/reserva/list/reserva.list.controller.js"></script>
<script type="text/javascript" src="/app/components/reserva/create/reserva.create.controller.js"></script>
<script type="text/javascript" src="/app/components/reserva/edit/reserva.edit.controller.js"></script>
<script type="text/javascript" src="/app/components/reserva/reserva.route.js"></script>

<script type="text/javascript" src="/app/components/qrcode/list/qrcode.list.controller.js"></script>
<script type="text/javascript" src="/app/components/qrcode/qrcode.route.js"></script>

<script type="text/javascript" src="/app/factories/message/message.factory.js"></script>
</html>
