<md-card>
    <md-card-content>
        <md-select placeholder="Selecione o usuário" ng-model="vm.comment.userAccount"
                   md-on-open="vm.loadUserAccounts()" style="min-width: 200px;">
            <md-option ng-value="userAccount" ng-repeat="userAccount in vm.getUserAccounts()">
                {{userAccount.login}}
            </md-option>
        </md-select>
        <div layout layout-sm="column">
            <md-input-container flex="100">
                <label>Descrição do comentário</label>
                <input md-maxlength="50" ng-model="vm.comment.description">
            </md-input-container>
        </div>
    </md-card-content>
    <md-card-footer>
        <md-button>Salvar</md-button>
    </md-card-footer>
</md-card>