<md-card>
    <md-data-table-toolbar class="alternate" ng-show="vm.selected.length">
        <div>{{vm.selected.length}} {{vm.selected.length > 1 ? 'items selecionados' : 'item selecionado'}}</div>
    </md-data-table-toolbar>

    <md-data-table-container>
        <table md-data-table md-row-select="vm.selected" md-progress="vm.init" class="table-condensed">
            <thead md-order="query.order" md-trigger="vm.onorderchange">
            <tr>
                <th order-by="matricula" name="Matrícula"></th>
                <th order-by="nome" name="Nome"></th>
                <th order-by="email" name="E-mail"></th>
                <th order-by="celular" name="Telefone"></th>
                <th name="Operações"></th>
            </tr>
            </thead>
            <tbody md-auto-select>
            <tr ng-repeat="contaUsuario in vm.getContaUsuarios() | orderBy: query.order | filter: skip | limitTo: query.limit">
                <td>{{contaUsuario.matricula}}</td>
                <td>{{contaUsuario.nome}}</td>
                <td>{{contaUsuario.email}}</td>
                <td>{{contaUsuario.celular}}</td>
                <td>
                    <md-button ng-click="vm.edit(contaUsuario)" class="md-icon-button md-sheet">
                        <a class="btn btn-primary" btn-primary ui-sref="contaUsuarioEdit(contaUsuario)">
                            <md-tooltip>Editar</md-tooltip>
                            <md-icon md-font-icon="mdi mdi-pencil md-18"></md-icon>
                        </a>
                    </md-button>

                    <md-button ng-click="vm.remove(contaUsuario.id)" class="md-icon-button md-sheet">
                        <md-tooltip>Remover</md-tooltip>
                        <md-icon md-font-icon="mdi mdi-delete md-18"></md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="query.limit"
                              md-page="query.page"
                              md-total="{{vm.total}}"
                              md-trigger="onpagechange"></md-data-table-pagination>
</md-card>