<md-grid-list md-cols-gt-md="6" md-row-height="4:4" md-gutter="12px">

    <md-grid-tile class="blue" md-rowspan="2" md-colspan="3">
        <a class="btn btn-primary" btn-primary ui-sref="empregadoCreate(empregado)">
            <md-tooltip>Empregado</md-tooltip>
            <md-icon md-font-icon="mdi mdi-worker md-128"></md-icon>
        </a>
    </md-grid-tile>

    <md-grid-tile class="green" md-rowspan="2" md-colspan="3">
        <a class="btn btn-primary" btn-primary ui-sref="estudanteCreate(empregado)">
            <md-icon md-font-icon="mdi mdi-library md-128"></md-icon>
        </a>
    </md-grid-tile>
</md-grid-list>