<md-card>
    <md-card-content>
        <div layout layout-sm="column">
            <md-input-container>
                <label>Login</label>
                <input ng-model="vm.userAccount.login">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container>
                <label>Senha</label>
                <input ng-model="vm.userAccount.password">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-select placeholder="Selecione um autor" ng-model="vm.book.authors" md-on-open="vm.loadAuthors()" style="min-width: 200px;" multiple="true">
                <md-option ng-value="person" ng-repeat="person in vm.getPersons()">{{author.name}}</md-option>
            </md-select>
        </div>
    </md-card-content>
    <md-card-footer>
        <md-button>Salvar</md-button>
    </md-card-footer>
</md-card>