<div>
    <md-content class="md-padding">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Tipo de usuário">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Escolha o tipo de usuário</h1>
                    <md-radio-group ng-model="vm.type" ng-click="vm.seguinte()">
                        <md-radio-button value="funcionario" class="md-primary">Funcionario</md-radio-button>
                        <md-radio-button value="estudante">Estudante</md-radio-button>
                    </md-radio-group>
                </md-content>
            </md-tab>
            <md-tab label="Dados pessoais">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Usuário escolhido: {{vm.type}}</h1>

                    <div ng-if="vm.type=='funcionario'">
                        <form class="form-horizontal" role="form" ng-submit="vm.createFuncionario()">
                            <div ng-include="'/app/components/funcionario/_form.html'"></div>
                        </form>
                    </div>
                    <div ng-if="vm.type=='estudante'">
                        <form class="form-horizontal" role="form" ng-submit="vm.createEstudante()">
                            <div ng-include="'/app/components/estudante/_form.html'"></div>
                        </form>
                    </div>

                </md-content>
            </md-tab>
            <md-tab label="Dados da conta">
                <form class="form-horizontal" role="form" ng-submit="vm.createAccount()">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Estamos finalizando ! {{vm.estudante.name}}</h1>
                        <md-card>
                            <md-card-content>
                                <div layout layout-sm="column">
                                    <md-input-container>
                                        <label>Login</label>
                                        <input ng-model="vm.contaUsuario.login">
                                    </md-input-container>
                                </div>
                                <div layout layout-sm="column">
                                    <md-input-container>
                                        <label>Senha</label>
                                        <input ng-model="vm.contaUsuario.senha">
                                    </md-input-container>
                                </div>
                            </md-card-content>
                            <md-card-footer>
                                <md-button>Salvar</md-button>
                            </md-card-footer>
                        </md-card>
                    </md-content>
                </form>
            </md-tab>
        </md-tabs>
    </md-content>
</div>