<md-card>
    <md-data-table-toolbar class="alternate" ng-show="vm.selected.length">
        <div>{{vm.selected.length}} {{vm.selected.length > 1 ? 'items selecionados' : 'item selecionado'}}</div>
    </md-data-table-toolbar>

    <md-data-table-container>
        <table md-data-table md-row-select="vm.selected" md-progress="vm.init" class="table-condensed">
            <thead md-order="query.order" md-trigger="vm.onorderchange">
            <tr>
                <th order-by="description" name="Descrição"></th>
                <th order-by="dataInicio" name="Inicio"></th>
                <th order-by="dataFim" name="Fim"></th>
                <th name="Operações"></th>
            </tr>
            </thead>
            <tbody md-auto-select>
            <tr ng-repeat="feriado in vm.getFeriados() | orderBy: query.order | filter: skip | limitTo: query.limit">
                <td>{{feriado.descricao}}</td>
                <td>{{feriado.dataInicio | date}}</td>
                <td>{{feriado.dataFim | date}}</td>
                <td>
                    <md-button class="md-icon-button md-sheet">
                        <a class="btn btn-primary" btn-primary ui-sref="feriadoEdit(feriado)">
                            <md-tooltip>Editar</md-tooltip>
                            <md-icon md-font-icon="mdi mdi-pencil md-18"></md-icon>
                        </a>
                    </md-button>

                    <md-button ng-click="vm.remove(feriado.id)" class="md-icon-button md-sheet">
                        <md-tooltip>Remover</md-tooltip>
                        <md-icon md-font-icon="mdi mdi-delete md-18"></md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="query.limit"
                              md-page="query.page"
                              md-total="{{vm.total}}"
                              md-trigger="onpagechange"></md-data-table-pagination>
</md-card>