<md-card>
    <md-card-content>
        <div layout layout-sm="column">
            <md-input-container flex="100">
                <label>ISB</label>
                <input md-maxlength="17" ng-model="vm.book.isbn">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex="100">
                <label>Título do livro</label>
                <input md-maxlength="254" ng-model="vm.book.title">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex="100">
                <label>Sinopsis</label>
                <input md-maxlength="5000" ng-model="vm.book.synopsis">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex="100">
                <label>Páginas</label>
                <input md-maxlength="9999" ng-model="vm.book.pages">
            </md-input-container>
        </div>

        <md-select placeholder="Selecione um idioma" ng-model="vm.book.idiom" md-on-open="vm.loadIdioms()" style="min-width: 200px;">
            <md-option ng-value="idiom" ng-repeat="idiom in vm.getIdioms()">{{idiom.description}}</md-option>
        </md-select>

        <md-select placeholder="Selecione um estado" ng-model="vm.book.status" md-on-open="vm.loadStatus()" style="min-width: 200px;">
            <md-option ng-value="status" ng-repeat="status in vm.getStatus()">{{status.description}}</md-option>
        </md-select>

        <md-select placeholder="Selecione uma categoria" ng-model="vm.book.category" md-on-open="vm.loadCategories()" style="min-width: 200px;">
            <md-option ng-value="category" ng-repeat="category in vm.getCategories()">{{category.description}}</md-option>
        </md-select>

        <md-select placeholder="Selecione um autor" ng-model="vm.book.authors" md-on-open="vm.loadAuthors()" style="min-width: 200px;" multiple="true">
            <md-option ng-value="author" ng-repeat="author in vm.getAuthors()">{{author.name}}</md-option>
        </md-select>

    </md-card-content>
    <md-card-footer>
        <md-button>Salvar</md-button>
    </md-card-footer>
</md-card>
