<md-card>
    <md-data-table-toolbar class="alternate" ng-show="vm.selected.length">
        <div>{{vm.selected.length}} {{vm.selected.length > 1 ? 'items selecionados' : 'item selecionado'}}</div>
    </md-data-table-toolbar>

    <md-data-table-container>
        <table md-data-table md-row-select="vm.selected" md-progress="vm.init" class="table-condensed">
            <thead md-order="query.order" md-trigger="vm.onorderchange">
            <tr>
                <th order-by="isbn" name="ISBN"></th>
                <th order-by="title" name="Título"></th>
                <th order-by="synopsis" name="Sinopsis"></th>
                <th order-by="pages" name="Páginas"></th>
                <th order-by="idioma" name="Idioma"></th>
                <th order-by="categoria" name="Categoria"></th>
                <th order-by="autores" name="Autoria"></th>
                <th order-by="comentarios" name="Comentários"></th>
                <th name="Operações"></th>
            </tr>
            </thead>
            <tbody md-auto-select>
            <tr ng-repeat="livro in vm.getLivros() | orderBy: query.order | filter: skip | limitTo: query.limit">
                <td>{{livro.isbn}}</td>
                <td>{{livro.titulo}}</td>
                <td>{{livro.sinopse}}</td>
                <td>{{livro.paginas}}</td>
                <td>{{livro.idioma.descricao}}</td>
                <td>{{livro.categoria.descricao}}</td>
                <td>
                    <li ng-repeat="autor in livro.autores">
                        {{autor.nome}}
                    </li>
                </td>
                <td>{{livro.comentarios.length}}</td>
                <td>
                    <md-button ng-click=" vm.edit(livro)" class="md-icon-button md-sheet">
                        <a class="btn btn-primary" btn-primary ui-sref="livroEdit(livro)">
                            <md-tooltip>Editar</md-tooltip>
                            <md-icon md-font-icon="mdi mdi-pencil md-18"></md-icon>
                        </a>
                    </md-button>

                    <md-button ng-click="vm.remove(livro.id)" class="md-icon-button md-sheet">
                        <md-tooltip>Remover</md-tooltip>
                        <md-icon md-font-icon="mdi mdi-delete md-18"></md-icon>
                    </md-button>

                    <md-button class="md-primary md-raised" ng-click="vm.mostraHistoricoLocacoes(livro.id)">
                        Histórico de locações
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>
    <md-data-table-pagination md-limit="query.limit"
                              md-page="query.page"
                              md-total="{{vm.total}}"
                              md-trigger="onpagechange"></md-data-table-pagination>


</md-card>
<md-list ng-show="vm.historicoEmprestimos != null">
    <md-subheader class="md-no-sticky">
        {{vm.historicoEmprestimos.length > 1 ? vm.historicoEmprestimos.length + ' locações realizados'
        : vm.historicoEmprestimos.length == 1 ? '1 locação realizada': 'Nenhuma locação realizada'}}
    </md-subheader>
    <md-list-item class="md-3-line" ng-repeat="item in vm.historicoEmprestimos">
        <img ng-src="{{item.contaUsuario.pessoa.avatar}}?{{$index}}" class="md-avatar" alt="{{item.livro.autor.nome}}"/>

        <div class="md-list-item-text" layout="column">
            <h3>{{ item.contaUsuario.pessoa.nome }}</h3>
            <h4>{{ item.livro.titulo }}</h4>
            <h4>{{ item.dataEmprestimo | date }}</h4>
        </div>
    </md-list-item>
</md-list>
