<md-card>
    <md-card-content>
        <div layout layout-sm="column">
            <md-input-container flex="100">
                <label>Matrícula do estudante</label>
                <input md-maxlength="50" ng-model="vm.student.enrollment">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex="100">
                <label>Nome</label>
                <input md-maxlength="50" ng-model="vm.student.name">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex="100">
                <label>Email</label>
                <input md-maxlength="50" ng-model="vm.student.email">
            </md-input-container>
        </div>
        <div layout layout-sm="column">
            <md-input-container flex="100">
                <label>Telefone</label>
                <input md-maxlength="50" ng-model="vm.student.phone">
            </md-input-container>
        </div>
    </md-card-content>
    <md-card-footer>
        <md-button>Salvar</md-button>
    </md-card-footer>
</md-card>