<md-card>
    <md-data-table-toolbar class="alternate" ng-show="vm.selected.length">
        <div>{{vm.selected.length}} {{vm.selected.length > 1 ? 'items selecionados' : 'item selecionado'}}</div>
    </md-data-table-toolbar>

    <md-data-table-container>
        <table md-data-table md-row-select="vm.selected" md-progress="vm.init" class="table-condensed">
            <thead md-order="query.order" md-trigger="vm.onorderchange">
            <tr>
                <th order-by="contaUsuario" name="Usuário"></th>
                <th order-by="livro" name="Livro"></th>
                <th order-by="dateEmprestimo" name="Data de locação"></th>
                <th order-by="dateDevolucao" name="Data de devolução"></th>
                <th order-by="returned" name="Devolvido ?"></th>
                <th order-by="avisado" name="Avisado ?"></th>
                <th name="Operações"></th>
            </tr>
            </thead>
            <tbody md-auto-select>
            <tr ng-repeat="emprestimo in vm.getEmprestimos() | orderBy: query.order | filter: skip | limitTo: query.limit">
                <td>{{emprestimo.contaUsuario}}</td>
                <td>{{emprestimo.livro}}</td>
                <td>{{emprestimo.dateEmprestimo | date}}</td>
                <td>{{emprestimo.dateDevolucao | date}}</td>
                <td>{{emprestimo.devolvido}}</td>
                <td>{{emprestimo.avisado}}</td>
                <td>
                    <md-button ng-click="vm.edit(emprestimo)" class="md-icon-button md-sheet">
                        <a class="btn btn-primary" btn-primary ui-sref="emprestimoEdit(emprestimo)">
                            <md-tooltip>Editar</md-tooltip>
                            <md-icon md-font-icon="mdi mdi-pencil md-18"></md-icon>
                        </a>
                    </md-button>

                    <md-button ng-click="vm.remove(emprestimo.id)" class="md-icon-button md-sheet">
                        <md-tooltip>Remover</md-tooltip>
                        <md-icon md-font-icon="mdi mdi-delete md-18"></md-icon>
                    </md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>

    <md-data-table-pagination md-limit="query.limit"
                              md-page="query.page"
                              md-total="{{vm.total}}"
                              md-trigger="onpagechange"></md-data-table-pagination>
</md-card>