<!DOCTYPE html>
<html lang="en" ng-app="qrbweb">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/bower_components/angular-material/angular-material.min.css">
</head>
<body>
<div layout="column" layout-align="center center" style="height: 100%" ng-controller="LoginController as vm">
    <h1 flex="5">QRB</h1>

    <h3 flex="10">Gerencia de bibliotecas com Qr-Code</h3>

    <div flex="65">
        <md-card>
            <form id="login" autocomplete="off" ng-submit="vm.login()">
                <md-card-content>
                    <md-input-container>
                        <label for="username">Usuário</label>
                        <input id="username" name="username" ng-model="vm.user.username" type="text" autofocus>
                    </md-input-container>
                    <md-input-container>
                        <label for="password">Senha</label>
                        <input id="password" name="password" type="password" ng-model="vm.user.password">
                    </md-input-container>
                </md-card-content>
                <button ng-show="false" type="submit"></button>
            </form>
        </md-card>
    </div>
</div>
</body>
<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/bower_components/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-aria/angular-aria.min.js"></script>

<script type="text/javascript" src="/server/login/login.module.js"></script>
<script type="text/javascript" src="/server/login/login.factory.js"></script>
<script type="text/javascript" src="/server/login/login.controller.js"></script>

<script type="text/javascript" src="/server/resources.js"></script>
</html>